.navbar {
    width: 100%;
    padding: 0.5rem 0;
    background-color: #1C3643;
    overflow: hidden;
}

.navbar__brand {
    color: #ffffff;
    display: flex;
    align-items: center;
    text-decoration: none;
    letter-spacing: 1px;
}

.navbar__brand:hover {
    color: #ffffff;
}

.navbar__brand-logo {
    margin-right: 0.5rem;
}